html {
    background-color: blue;
}
button {
    border: 1px solid darkgrey;
    border-radius: 20px;
    color: white;
    background-color: #004040;
    width: 100px;
    height: 25px;
    transition: all 0.3s ease;
}
button:hover {
    border-radius: 5px;
    color: black;
    background-color: powderblue;
    cursor: pointer
}
