

html {
    background-color: blue;
}
button {
    border: 1px solid darkgrey;
    border-radius: 20px;
    color: white;
    background-color: #004040;
    width: 100px;
    height: 25px;
    transition: all 0.3s ease;
}
button:hover {
    border-radius: 5px;
    color: black;
    background-color: powderblue;
    cursor: pointer
}
.taskbar-button {
    border-radius: 5px;
    width: fit-content;
    height: 30px;
}
.taskbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #002626;
    display: flex;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 0px 0px;
}
